openapi: 3.0.1
info:
  title: eSIM Go Catalogue Organisation API
  description: REST API for the eSIM Go connectivity and travel-data platform. Resellers and brands use it to browse the data-bundle catalogue, place and track orders, assign bundles to eSIMs, retrieve install/QR provisioning details, manage inventory, look up network coverage, and receive usage callbacks. Authentication is via the X-API-Key header.
  termsOfService: https://www.esim-go.com
  contact:
    name: eSIM Go Support
    url: https://docs.esim-go.com
  version: '2.4'
servers:
- url: https://api.esim-go.com/v2.4
security:
- ApiKeyAuth: []
tags:
- name: Organisation
  description: Organisation account details and balance.
paths:
  /organisation:
    get:
      operationId: getOrganisation
      tags:
      - Organisation
      summary: Get Current Organisation Details
      description: Returns the current organisation account details, including balance and currency.
      responses:
        '200':
          description: Organisation detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
  /organisation/groups:
    get:
      operationId: getBundleGroups
      tags:
      - Organisation
      summary: Get Bundle Groups
      description: Returns the bundle groups available to the organisation.
      responses:
        '200':
          description: Bundle groups.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    Organisation:
      type: object
      properties:
        name:
          type: string
        balance:
          type: number
        currency:
          type: string
        organisationGroups:
          type: array
          items:
            type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organisation API key. Find it under Account Settings -> API Details in your eSIM Go account and send it in the X-API-Key request header.
